.medical-institutions .ry-right-tree-26 .btnmedical {
  display: flex;
}
.medical-institutions .btnmedical button {
  margin-right: 10px;
}
.medical-institutions .btnmedical button:last-child {
  margin-right: 0;
}
.medical-institutions .ry-left-tree .btnmedical {
  padding: 0 0 10px 0;
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 16px;
}
.medical-institutions .ry-left-tree .control-label {
  width: 35px;
}
.medical-institutions .ry-left-tree .form-group {
  margin: 0;
}
.medical-institutions .control-label {
  width: 138px;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 30px;
}
.medical-institutions .ry-right-tree-26 h3 {
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 12px;
}
.medical-institutions .ivu-form-item {
  width: 100%;
}
.medical-institutions .one {
  width: 82%;
}
.medical-institutions .tow {
  width: 65%;
}
.medical-institutions .btnmedical {
  margin-right: 2px;
}
@media screen and (min-width: 1620px) and (max-width: 1700px) {
  .medical-institutions .one {
    width: 78.5%;
  }
  .medical-institutions .tow {
    width: 57%;
  }
  .medical-institutions .btnmedical {
    margin-right: 6px;
  }
}
@media screen and (min-width: 1480px) and (max-width: 1620px) {
  .medical-institutions .one {
    width: 76%;
  }
  .medical-institutions .tow {
    width: 51%;
  }
}
@media screen and (min-width: 1320px) and (max-width: 1480px) {
  .medical-institutions .one {
    width: 72.5%;
  }
  .medical-institutions .tow {
    width: 45.5%;
  }
}
